*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.container
{
    height: 100vh;
}

#canvas
{
    display: none;
}



#video {
    height: 488px;
    width: 650px;
}

#canvas1
{
    height: 700px;
    width: auto;
}

.display
{
    display: none;
}
.displayBlock
{
    display: inline-block;
}